<html>
  <head>
    <title>Login</title>
  </head>

  <body>
    {% if session.username %}
    <p>You have signed in with the username {{ session.username }}</p>

    <p>
      <a href="/logout" method="post"> Sign out </a>
    </p>
    {% else %}
    <a href="/register"> Register a user </a>
    <form action="/login" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password" />
      </p>
      <input type="submit" value="Kirjaudu" />
    </form>
    {% endif %}
  </body>
</html>
