<!DOCTYPE html>
<html>
  <head>
    <title>Etusivu</title>
  </head>

  
    <h1>Etusivu</h1>
    <p><b>Tervetuloa</b> <i>sovellukseen</i>!</p>

    <nav>
      <a href="/form"><button>Form</button></a>
      <a href="/new"><button>Send a new message</button></a>
    </nav>

    <form action="/send" method="post">
        <p>
            Message: <br />
        <textarea name="content" rows="3" cols="40"></textarea>
        </p>
        <p>
            <input type="submit" value="Send">
        </p>
    </form>

  </body>
</html>
